streamlit>=1.46.1
python-dotenv>=1.1.1
crewai>=0.140.0
crewai-tools>=0.49.0
pandas>=2.0.0
plotly>=6.2.0
matplotlib>=3.5.0
seaborn>=0.11.0
fpdf2>=2.7.0
langchain>=0.3.26
langchain-community>=0.3.27
langchain-core>=0.3.68
langchain-groq>=0.3.5
xlsxwriter>=3.2.5
faiss-cpu>=1.7.0